#/*
**/__pycache__
.spyproject/
/libs/annotator/fitted
/libs/annotator/smplify/models
/model
/examples/imgs
/examples/example_annot.npy
/examples/example_model.th
/examples/stats.npy
/examples/h36m2Dpose/final_state.pth
*.yml
*.log
*.ini
*.bak
*.pth
*.csv
*.pyc


